@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


@font-face {
  font-family: OutfitThin;
  src: url("../src/assets/fonts/Outfit-Thin.ttf");
}

@font-face {
  font-family: OutfitLight;
  src: url("../src/assets/fonts/Outfit-Light.ttf");
}

@font-face {
  font-family: OutfitExtraLight;
  src: url("../src/assets/fonts/Outfit-ExtraLight.ttf");
}

@font-face {
  font-family: OutfitRegular;
  src: url("../src/assets/fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: OutfitMedium;
  src: url("../src/assets/fonts/Outfit-Medium.ttf");
}


@font-face {
  font-family: OutfitSemiBold;
  src: url("../src/assets/fonts/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: OutfitBold;
  src: url("../src/assets/fonts/Outfit-Bold.ttf");
}

@font-face {
  font-family: OutfitExtraBold;
  src: url("../src/assets/fonts/Outfit-ExtraBold.ttf");
}

@font-face {
  font-family: OutfitBlack;
  src: url("../src/assets/fonts/Outfit-Black.ttf");
}

/* Roboto Serif */
@font-face {
  font-family: RobotoLight;
  src: url("../src/assets/fonts/Roboto_Serif/RobotoSerif-Light.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../src/assets/fonts/Roboto_Serif/RobotoSerif-Regular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../src/assets/fonts/Roboto_Serif/RobotoSerif-Medium.ttf");
}

@font-face {
  font-family: RobotoBlod;
  src: url("../src/assets/fonts/Roboto_Serif/RobotoSerif-Bold.ttf");
}

@font-face {
  font-family: RobotoExtraBold;
  src: url("../src/assets/fonts/Roboto_Serif/RobotoSerif-ExtraBold.ttf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {


  --font-300: OutfitLight;
  --font-400: OutfitRegular;
  --font-500: OutfitMedium;
  --font-600: OutfitSemiBold;
  --font-700: OutfitBold;
  --font-800: OutfitExtraBold;
  --font-900: OutfiBlack;

  --font-Roboto-300: RobotoLight;
  --font-Roboto-400: RobotoRegular;
  --font-Roboto-500: RobotoMedium;
  --font-Roboto-600: RobotoBlod;
  --font-Roboto-700: RobotoExtraBold;


  --primary: #FFC471;
  --primary-gradient: linear-gradient(180deg, #FFB563 0%, #996D3B 100%);

  --secondary: #298864;
  --secondary-gradient: linear-gradient(296.99deg, #164936 10.62%, #35AF81 152.6%);

}



html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  background: #f8f9fa !important;
  color: #000;

  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* 3. If you have sections with gaps, ensure they use proper padding */
section {
  position: relative;
  overflow: hidden;
  /* Prevents 3D elements from creating a horizontal gap */
}

h2 {
  font-size: 3rem;
  line-height: 48px;
  font-family: var(--font-500);
}

a {
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 22px;
  color: #56545F;
  margin-bottom: 0;
  font-family: var(--font-400);
}

p,
ul {
  margin: 0;
}

section {
  padding: 50px 0;
}



.heading {
  margin: auto;
  margin-bottom: 50px;
  width: 700px;
  text-align: center;
}

.heading span {
  display: block;
}

.heading.left {
  text-align: left;
  margin: 0;
  /* margin-bottom: 50px; */
}

.heading.right {
  text-align: right;
}

.heading.center {
  text-align: center;
}

.heading h2 {
  margin-bottom: 14px;
  font-size: 2.4rem;
  font-family: var(--font-700);
  border-bottom: 1px solid var(--secondary);
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

/* Btn */
a.btn {
  border: 1px solid transparent;
  font-weight: 500;
  padding: 8px 26px;
  border-radius: 26px;
  transition: all 0.3s ease-in-out;

  i {
    background: var(--primary);
    color: #000;
    font-weight: 600;
    padding: 6px;
    border-radius: 16px;
  }
}

a.btn.primary {
  background: var(--primary);
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);

  /* transition: all 0.3s ease-in-out; */

  &:hover {
    background: var(--secondary-gradient);
    border: none;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

a.btn.primaryReverse {
  background: var(--secondary-gradient);
  border: none;
  color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);

  &:hover {
    background: var(--primary-gradient);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

a.btn.white {
  border: none;
  background: #fff;

  i {
    margin-left: 10px;
  }

  &:hover {
    background: var(--secondary-gradient);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  &:hover i {
    color: #fff;
  }
}




/* Model */
.modal-content {
  background: var(--secondary) !important;
  color: #fff !important;

  .btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffc107'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
    opacity: 1;
    /* Ensures the yellow is bright */
  }


  .invalid-feedback {
    color: var(--primary);
  }

  .form-select.is-invalid, .was-validated .form-select:invalid {
    border-color: var(--primary) !important;
  }


  .form-select.is-invalid:focus, .was-validated .form-select:invalid:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 .25rem rgba(var(--primary), .25);
  }

  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffc107'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");

  }

  .form-select.is-invalid, .was-validated .form-control:invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='20' height='20' fill='none' stroke='%23ffc107'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
    background-size: 18px 18px, 16px 12px !important;
  }

  .form-control:focus {
    color: var(--bs-body-color);
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--primary).25;
  }

  .form-select:focus {
    color: var(--bs-body-color);
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--primary).25;
  }


}